/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif; */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #22343d;
  background-color: #fff;
}

/*#region Reset*/
a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}
/*#endregion Reset*/

/*#region Utils*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

/*#endregion Utils*/

/*#region Common*/

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;

  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.button {
  min-width: 130px;
  border-radius: 4px;
  padding: 14px 42px;

  font-weight: 700;
  line-height: 1.5;
  color: #fff;

  background-color: #02897a;

  transition: background-color 200ms ease-in-out;
}

.button:hover,
.button:focus {
  background-color: #016c5f;
}

.section {
  padding: 50px 0;
}

/*#endregion Common*/

/*#region Header*/

.header-nav,
.auth-list,
.header-container {
  display: flex;
  align-items: center;
}
.header-container {
  gap: 73px;
}

.header-nav {
  justify-content: space-between;
  flex-grow: 1;
}

.header-logo {
  padding: 22px 0;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-nav-link {
  display: block;
  padding: 26px 0;
  line-height: 1.75;
}

.header-nav-link.current {
  font-weight: 600;
}

.auth-list {
  gap: 21px;
}

.auth-link {
  display: block;
  min-width: 105px;
  padding: 8px 23px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: #fff;

  font-weight: 600;
  text-align: center;
  color: #173a56;
}

.auth-link-dark,
.auth-link:hover,
.auth-link:focus {
  border-color: transparent;
  color: #fff;
  background-color: #02897a;
}

.auth-link-dark:hover,
.auth-link-dark:focus {
  border-color: #bcd0e5;
  color: #173a56;
  background-color: #fff;
}

/*#endregion Header*/

/*#region Hero*/
.hero-section {
  padding: 25px 0 50px;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 35px;
}

.hero-title {
  max-width: 420px;
  margin-bottom: 18px;
  font-size: 40px;
}

.hero-subtitle {
  margin-bottom: 45px;

  font-size: 18px;
  line-height: 1.56;
}

.hero-wrp-buttons {
  display: flex;
  gap: 30px;
  align-items: center;
}

.hero-btn {
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 14px 0;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  background-color: transparent;
}

.hero-btn:hover,
.hero-btn:focus {
  color: #016c5f;
}

.hero-btn-icon {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 9px 0 9px 15.6px;
  border-color: transparent transparent transparent #02897a;
  transform: rotate(0deg);
}

.hero-btn:hover .hero-btn-icon,
.hero-btn:focus .hero-btn-icon {
  border-color: transparent transparent transparent #016c5f;
}

/*#endregion Hero*/

/*#region Strategies*/
.strategies-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.strategies-sub-title {
  max-width: 465px;
  margin-bottom: 40px;
  font-weight: 500;
  line-height: 1.625;
}

.strategies-list {
  display: flex;
  gap: 30px;
}

.strategies-item {
  width: calc((100% - 60px) / 3);
}

.strategies-link {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #dedede;
  border-radius: 8px;
}

.strategies-thumb {
  position: relative;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.strategies-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #028979a4;

  line-height: 1.514;
  color: #fff;

  transform: translateY(100%);
  transition: transform 200ms ease-in-out;
}

.strategies-link:hover .strategies-overlay,
.strategies-link:focus .strategies-overlay {
  transform: translateY(0);
}

.strategies-content {
  padding: 24px 24px 40px;
}

.strategies-text {
  margin-bottom: 12px;
  line-height: 1.75;
}

.strategies-part-text {
  font-weight: 700;
}

.strategies-card-title {
  padding-left: 3px;
  font-size: 24px;
  line-height: 1.66667;

  transition: color 200ms ease-in-out;
}

.strategies-link:hover .strategies-card-title,
.strategies-link:focus .strategies-card-title {
  color: #02897a;
}
/*#endregion Strategies*/

/*#region Footer*/

.page-footer {
  padding: 50px 0 40px;
}

.footer-top {
  display: flex;
  margin-bottom: 16px;
}

.footer-logo-wrapper {
  margin-right: auto;
}

.footer-logo {
  margin-bottom: 18px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #edfffc;
  transition: background-color 200ms ease-in-out;
}

.social-link:hover,
.social-link:focus {
  background-color: #02897a;
}

.social-icon {
  fill: transparent;
  stroke: #02897a;
  transition: stroke 200ms ease-in-out;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  stroke: #edfffc;
}

.footer-nav {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-right: 83px;
  max-width: 378px;
  width: 100%;
}

.footer-nav div {
  flex-shrink: 0;
}

.footer-nav-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.footer-nav-link {
  display: inline-block;
  line-height: 2.1875;
  transition: transform 200ms ease-in-out;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  transform: scale(1.1);
}

.footer-form-wrapper {
  max-width: 325px;
  width: 100%;
}

.footer-form-title {
  max-width: 280px;
  margin-bottom: 30px;
}

.footer-form-label {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 25px;
}

.footer-form-input {
  width: 100%;
  height: 48px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 20px;

  line-height: 1.75;
  color: #22343d;
  outline: none;
  transition: border-color 200ms ease-in-out;
}

.footer-form-input::placeholder {
  color: #02897a;
}

.footer-form-input:focus {
  border-color: #02897a;
}

.footer-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.footer-form-icon {
  fill: #02897a;
}

.foter-form-btn {
  padding: 7px 15px;
}

.footer-copy {
  line-height: 1.875;
  text-align: center;
}
/*#endregion Footer*/
